body {
    font-family: 'Roboto', sans-serif;
    background-color: #212529;
    color: #ffffff;
    font-size: larger;
}

.navbar {
    background-color: #343a40;
    position: fixed;
}

.bold, .btn{
    font-weight: bold;
}

.card{
    background-color:#343a40;
    border: none;
    filter: drop-shadow(0px 0px 50px #212529);
    min-height: 163px;
}



#hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343a40;
}

#about {
    padding: 40px 0;
}

#skills {
    padding: 40px 0;
}

#projects {
    padding: 40px;
    background-color: #343a40;
}

#contact {
    padding: 40px 0;
}

#baza{
    color: white;
}